.tx-hive-cpt-cnt-img {

  margin-bottom: ($grid-gutter-width/2);

  .square,
  .landscape,
  .portrait {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    .focuhila {
      width: 100%;
      height: 100%;
      position: absolute;
      img {
        transition: height 1s, opacity 2s;
      }

      figcaption, .figcaption {
        width: 100%;
        position: absolute;
        bottom: ($grid-gutter-width/2);
      }

    }
  }

  .aR {
    &.square {
      @include media-breakpoint-up(xs) {
        padding-bottom: 100%;
      }
      @include media-breakpoint-up(sm) {
        padding-bottom: 100%;
      }
    }

    &.landscape {
      @include media-breakpoint-up(xs) {
        padding-bottom: 100%;
      }
      @include media-breakpoint-up(sm) {
        padding-bottom: (100*3/4) * 1%;
        &.aR--21_5 {
          padding-bottom: (100*9/21) * 1%;
        }
        &.aR--21_9 {
          padding-bottom: (100*9/16) * 1%;
        }
        &.aR--16_9 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--4_3 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--3_2 {
          padding-bottom: (100*2/3) * 1%;
        }
      }
      @include media-breakpoint-up(md) {
        padding-bottom: (100*2/3) * 1%;
        &.aR--21_5 {
          padding-bottom: (100*5/21) * 1%;
        }
        &.aR--21_9 {
          padding-bottom: (100*9/21) * 1%;
        }
        &.aR--16_9 {
          padding-bottom: (100*9/16) * 1%;
        }
        &.aR--4_3 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--3_2 {
          padding-bottom: (100*2/3) * 1%;
        }
      }
      @include media-breakpoint-up(lg) {
        padding-bottom: (100*9/16) * 1%;
        &.aR--21_5 {
          padding-bottom: (100*5/21) * 1%;
        }
        &.aR--21_9 {
          padding-bottom: (100*9/21) * 1%;
        }
        &.aR--16_9 {
          padding-bottom: (100*9/16) * 1%;
        }
        &.aR--4_3 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--3_2 {
          padding-bottom: (100*2/3) * 1%;
        }
      }
      @include media-breakpoint-up(xl) {
        padding-bottom: (100*9/16) * 1%;
        &.aR--21_5 {
          padding-bottom: (100*5/21) * 1%;
        }
        &.aR--21_9 {
          padding-bottom: (100*9/21) * 1%;
        }
        &.aR--16_9 {
          padding-bottom: (100*9/16) * 1%;
        }
        &.aR--4_3 {
          padding-bottom: (100*3/4) * 1%;
        }
        &.aR--3_2 {
          padding-bottom: (100*2/3) * 1%;
        }
      }
    }

    &.portrait {
      @include media-breakpoint-up(xs) {
        padding-bottom: 100%;
      }
      @include media-breakpoint-up(sm) {
        padding-bottom: (100*4/3) * 1%;
      }
      @include media-breakpoint-up(md) {
        padding-bottom: (100*3/2) * 1%;
      }
      @include media-breakpoint-up(lg) {
        &.aR--3_4 {
          padding-bottom: (100*4/3) * 1%;
        }
        &.aR--2_3 {
          padding-bottom: (100*3/2) * 1%;
        }
      }
    }
  }



}